<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <form action="/timeline/create">
        <input type="text" name="username">
        <input type="text" name="message">
        <input type="submit" value="전송!">
        
    </form>
    
    <ul>
        {% for timeline in timelines %}
            <li>{{timeline[0]}} : {{timeline[1]}}</li>
        {% endfor %}
    </ul>
</body>
</html>